* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inter, sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  width: 100%;
  height: 100vh;
}
.header {
  display: flex;
  width: 100%;
  max-width: 1204px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 100px;
  z-index: 1;
}
.tour {
  height: 35px;
}
.menu {
  display: flex;
}
.menu p {
  width: 100px;
  text-align: center;
  color: white;
}
.menu img {
  width: 20px;
  height: 20px;
  color: white;
}
.langselector {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-titles {
  height: fit-content;
  text-align: center;
  color: white;
}
.hero-titles p:nth-child(1) {
  font-family: "bebas neue";
  font-size: 80px;
  line-height: 100%;
  opacity: 72%;
}
.hero-titles p:nth-child(2) {
  font-family: "bebas neue";
  font-size: 250px;
  line-height: 100%;
  opacity: 98%;
}
.hero-titles p:nth-child(3) {
  font-family: "hanuman";
  font-size: 64px;
  line-height: 100%;
  opacity: 100%;
  font-weight: 900;
}
.hero-background {
  position: absolute;
  /* top: 8px;
  left: 8px; */
  z-index: -1;
  width: 100%;
  height: 100%;
}
.location {
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.location-background {
  position: absolute;
  /* top: 8px;
  left: 8px; */
  width: 100%;
  height: 100%;
}
.card-container {
  width: 1202px;
  height: 370px;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.card {
  width: 275px;
  height: 370px;
  border-radius: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: #29728b40 8px 8px 0px 0px, #1f72aa75 -8px -8px 0px 0px;
}

.card p {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "bebas neue";
  font-size: 40px;
  line-height: 100%;
  opacity: 98%;
  font-weight: 400px;
  text-align: center;
}

.card-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  display: none;
  border-radius: 40px;
}

.card:hover .card-hover {
  display: block;
}
.roadmap {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.roadmap-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 8;
  z-index: -1;
}
.roadmap-text {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.p1 {
  font-size: 50px;
  top: 10px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.p2 {
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.left-container {
  width: 514px;
  height: 640px;
  gap: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 35%;
  left: 16%;
}
.object {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  display: flex;
  align-items: left;
  flex-direction: column;
}
.o1 {
  background-color: #eee9d9;
}
.o2 {
  background-color: #8bb8c1cc;
}
.o3 {
  background-color: #aad8d7cc;
}
.o4 {
  background-color: #8bc0bdcc;
}
.o5 {
  background-color: #97cce0cc;
}
.day {
  width: 52px;
  height: 52px;
  border-radius: 50px;
  background-color: white;
  position: relative;
  top: -30px;
  left: 400px;
  opacity: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pin {
  width: 14px;
  height: 14px;
  position: relative;
  top: 40px;
  left: 30px;
}

.dest {
  position: relative;
  top: 20px;
  left: 50px;
}
.name {
  font-size: 24px;
  justify-content: flex-start;
}
.hov1 {
  width: 369px;
  height: 369px;
  border-radius: 250px;
  display: none;
  opacity: 1;
  position: absolute;
  top: -30px;
  left: 900px;
}

.object:hover {
  border: 3px solid white;
}
.o1:hover .hov1 {
  display: block;
}
.hov2 {
  width: 369px;
  height: 369px;
  border-radius: 250px;
  display: none;
  opacity: 1;
  position: absolute;
  top: -100px;
  left: 1000px;
}
.o2:hover .hov2 {
  display: block;
}
.hov3 {
  width: 369px;
  height: 369px;
  border-radius: 250px;
  display: none;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 700px;
}
.o3:hover .hov3 {
  display: block;
}
.hov4 {
  width: 369px;
  height: 369px;
  border-radius: 250px;
  display: none;
  position: absolute;
  top: 200px;
  left: 600px;
}
.o4:hover .hov4 {
  display: block;
}
.hov5 {
  width: 369px;
  height: 369px;
  border-radius: 250px;
  display: none;
  position: absolute;
  top: -400px;
  left: 500px;
}
.o5:hover .hov5 {
  display: block;
}
.footer {
  width: 100%;
  height: 1120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer-background {
  width: 100%;
  height: 1120px;
  z-index: -1;
}
.footer-text {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-text p:nth-child(1) {
  font-size: 42px;
  font-weight: 600;
}
.footer-text p:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
}
.price-container {
  width: 1200px;
  height: 527px;
  position: absolute;
  gap: 24px;
  display: flex;
  justify-content: space-between;
}
.package1 {
  width: 384px;
  height: 527px;
  border-radius: 40px;
  background-color: white;
}
.pac-hov1 {
  width: 384px;
  height: 100%;
  box-shadow: #29728b40 8px 8px 0px 0px, #05253a75 -8px -8px 0px 0px;
  border-radius: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.package1:hover .pac-hov1 {
  display: block;
}
.package1:hover .select {
  background-color: #020d11;
  color: white;
}
.package2 {
  width: 384px;
  height: 527px;
  border-radius: 40px;
  background-color: white;
}
.pac-hov2 {
  width: 384px;
  height: 100%;
  box-shadow: #29728b40 8px 8px 0px 0px, #05253a75 -8px -8px 0px 0px;
  border-radius: 40px;
  position: absolute;
  top: 0px;
  left: 408px;
  display: none;
}

.package2:hover .pac-hov2 {
  display: block;
}
.package2:hover .select {
  background-color: #020d11;
  color: white;
}

.package3 {
  width: 384px;
  height: 527px;
  border-radius: 40px;
  background-color: white;
}
.pac-hov3 {
  width: 384px;
  height: 100%;
  box-shadow: #29728b40 8px 8px 0px 0px, #05253a75 -8px -8px 0px 0px;
  border-radius: 40px;
  position: absolute;
  top: 0px;
  left: 816px;
  display: none;
}

.package3:hover .pac-hov3 {
  display: block;
}
.package3:hover .select {
  background-color: #020d11;
  color: white;
}
.tolgoi {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 24px;
}
.heart {
  width: 36px;
  height: 36px;
}
.top {
  font-size: 18px;
  font-weight: 500;
}
.mur {
  width: 336px;
  height: 78px;
  padding: 24px;
}
.mursmall {
  width: 336px;
  height: 27px;
  display: flex;
  justify-content: space-between;
}
.price {
  font-size: 40px;
  font-weight: 600;
}
.type {
  font-size: 16px;
  font-weight: 500;

  color: #919191;
}
.popular {
  width: 91px;
  height: 27px;
  border-radius: 27px;
  background-color: #6972b5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gedes {
  width: 336px;
  height: 180px;
  margin-left: 24px;
  display: flex;
  margin-top: 50px;
}
.nariin {
  height: 180px;
  width: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 17px;
  padding-bottom: 7px;
}
.zuv {
  width: 20px;
  height: 20px;
}
.buduun {
  height: 180px;
  width: 316px;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
}
.include {
  font-size: 18px;
  font-weight: 500;
}
.bus {
  color: #3f4145;
  font-size: 14px;
  font-weight: 500;
}
.house {
  color: #3f4145;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}
.guide {
  color: #3f4145;
  font-size: 14px;
  font-weight: 500;
}
.meal {
  color: #3f4145;
  font-size: 14px;
  font-weight: 500;
}
.select {
  width: 336px;
  height: 48px;
  background-color: #a4d1e2;
  border-radius: 48px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.ftr {
  width: 100%;
  max-width: 1204px;
  height: 204px;
  position: absolute;
  display: flex;
  bottom: 0;
  /* gap: 20px; */
  justify-content: space-between;
  align-items: start;
}
.fb {
  width: 167px;
  height: 44px;
  background-color: white;
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inst {
  width: 167px;
  height: 44px;
  background-color: white;
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  height: 24px;
}

.network {
  font-size: 18px;
  font-weight: bold;
  color: #6972b5;
}
.pro {
  width: 336px;
  height: 180px;
  display: flex;
  border: solid red 3px;
  flex-direction: column;
  align-items: center;
}
.ff {
  width: 358px;
  height: 100%;
  display: flex;
  gap: 20px;
}
.ff2 {
  width: 358px;
  height: 35px;
  display: flex;
  justify-content: end;
  align-content: flex-start;
}
